<nav class="site-nav">
  <ul>
    {% assign sorted_pages = site.pages | sort:"name" %}
    <li>
      <ol>
	{% for page in sorted_pages %}
	  {% if page.categories contains 'intro' %}
	    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.linktext | truncate: 30 }}</a></li>
	  {% endif %}
	{% endfor %}
      </ol>
    </li>
    <li>
      <h1>The Workshop</h1>
      <ol>
	{% for page in sorted_pages %}
	  {% if page.categories contains 'project' %}
	    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.linktext | truncate: 30 }}</a></li>
	  {% endif %}
	{% endfor %}
      </ol>
    </li>
    <li>
      <h1>The Laboratory</h1>
      <ol>
	{% for page in sorted_pages %}
	  {% if page.categories contains 'demo' %}
	    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.linktext | truncate: 30 }}</a></li>
	  {% endif %}
	{% endfor %}
      </ol>
    </li>
    <li>
      <h1>The Library</h1>
      <ol>
	{% for page in sorted_pages %}
	  {% if page.categories contains 'essay' %}
	    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.linktext | truncate: 30 }}</a></li>
	  {% endif %}
	{% endfor %}
      </ol>
    </li>
    <li>
      <h1>Spellbooks</h1>
      <ol>
	{% for page in sorted_pages %}
	  {% if page.categories contains 'spellbook' %}
	    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.linktext | truncate: 30 }}</a></li>
	  {% endif %}
	{% endfor %}
      </ol>
    </li>
  </ul>
</nav>
